<% layout("/layouts/boilerplate") %>
<body>
  <form action="./listings/<%= listing._id %>?_method=PUT" method="POST"
    novalidate class="needs-validation">
    <div class="row mt-3">
      <div class="col-8 offset-2">
        <h3>Edit your listing</h3>

      
    <div class="mb-3">
      <label for="title" class="form-label"> Title </label>
      <input
        type="text"
        name="listing[title]"
        class="form-control"
        value="<%= listing.title %>"
        required
      />
      <div class="valid-feedback">Edit Validation</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label"> description </label>
      <textarea name="listing[description]" class="form-control">
<%= listing.description%></textarea
      >
    </div>

    <div class="mb-3">
      <label for="Image url" class="form-label"> Image url </label>
      <input
        name="listing[image]"
        type="text"
        class="form-control"
        value="<%= listing.image%>"
        required
      />
    </div>

    <div class="row">

    
    <div class="mb-3 col-md-4">
      <label for="Price" class="form-label"> Price </label>
      <input
        type="text"
        name="listing[price]"
        class="form-control"
        value="<%= listing.price %>"
        type="number"
        required
      />
      <div class="invalid-feedback">Plz enter a valid price</div>
    </div>

    <div class="mb-3 col-md-8">
      <label for="country" class="form-label"> country </label>
      <input
        type="text"
        name="listing[country]"
        class="form-control"
        value="<%= listing.country %>"
        type="string"
        required
      />
      <div class="invalid-feedback">Enter valid Country</div>
    </div>
  </div>

    <div class="mb-3">
      <label for="location" class="form-label"> location </label>
      <input
        type="text"
        name="listing[location]"
        class="form-control"
        value="<%= listing.location %>"
        type="string"
        required
      />
    </div>

    <button class="btn btn-dark edit-bnt mt-2" style="background-color: #fe424d; border: none;">Edit</button>
  </form>
</div>
</div>

</body>
