<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h3>Showing Details</h3>
    </div>

    <div class="card col-6 offset-2">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <%= listing.title %> <br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %> /night <br />
          <%= listing.description %> <br />
          <%= listing.country %> <br />
          <%= listing.location %> <br />
        </p>
      </div>
    </div>
  </div>

  <div class="btns">
    <button
      class="btn btn-dark mt-3 col-2 offset-2"
      style="background-color: #fe424d; border: none"
    >
      <a
        href="/listings/<%= listing._id %>/edit"
        style="text-decoration: none; color: aliceblue"
        >edit estate details</a
      >
    </button>

    <form action="/listing/<%= listing._id %>?method=DELETE">
      <button
        class="btn btn-dark mt-3 offset-2"
      >
        Delete this listing
      </button>
    </form>
  </div>
</body>
