<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h2><%= listing.title %></h2>
    </div>

    <div class="card col-6 offset-2" listing-card>
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <br>
          Listing owner : <%= listing.owner.username %> <br />
          <%= listing.description %> <br />
          <%= listing.location %> <br />
          <%= listing.country %> <br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %> /night <br />
        </p>
      </div>
    </div>
  </div>

  <% if(currUser &&  currUser._id.equals(listing.owner._id)){ %>
  <div class="btns">
    <button
      class="btn btn-dark mt-3 col-2 offset-2"
      style="background-color: #fe424d; border: none"
    >
      <a
        href="/listings/<%= listing._id %>/edit"
        style="text-decoration: none; color: aliceblue"
        >edit estate details</a
      >
    </button>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
      <button class="btn btn-dark mt-3 offset-2">Delete this listing</button>
    </form>
  </div>
  <% } %>

  
  <hr />
  
  
  <div class="review">
    <div class="row">
      <% for (review of listing.reviews){ %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= review.author.username %></h5> 
          <p class="card-text"><%= review.rating %> star rating</p>
          <p class="card-text"><%= review.comment %></p>
          <form
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-dark mb-3">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <hr />
<% if(currUser){ %>
  <div class="col-8 offset-2 mt-3 mb-4">
    <h4>leave a review</h4>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>

      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="10"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Add a review desc before submitting</div>
      </div>
      <button
        class="btn btn-dark mt-3"
        style="background-color: #fe424d; border: none"
      >
        Add review
      </button>
    </form>
  </div>
  <% } %>
</body>
